.main_page {
    margin-left: 50px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #F2F2F2;
}

.top_section {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.top_section_left {
    display: flex;
    flex-direction: column;
    max-width: 322px;
}

.top_section_right {
    display: flex;
    height: max-content;
}

.top_section_left_text {
    margin-top: 4px;
    font-weight: 500;
    font-size: 31px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;

}

.top_section_left_desc {
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    font-style: normal;
}

.center_section {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.center_section_right {
    max-width: 322px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    padding-top: 1rem;
}

.center_section_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: right;
    vertical-align: middle;
}

.center_section_title {
    font-weight: 500;
    font-size: 31px;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: right;
    vertical-align: middle;

}

.testimonial_head {
    font-weight: 500;
    font-style: Medium;
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: right;
    vertical-align: middle;
    margin-right: 50px;
}

.divider {
    height: 1px;
    background: #E5E5E680;
    margin: 20px 50px 20px 0px;
}

.testimonial_main {
    display: flex;
    gap: 40px;
}

.square_logo {
    align-self: flex-end;
}

@media (max-width: 768px) {
    .main_page {
        margin-left: 40px;
        margin-top: 30px;
    }
    .top_section {
        flex-direction: column;
    }

    .center_section {
        flex-direction: column;
        align-items: flex-start;
    }

    .testimonial_head {
        text-align: left;
    }
    .square_logo{
        display: none;
    }
}

@media (min-width: 1440px) {
    .top_section_left {
        max-width: 462px;
    }
}