.small-card {
    width: 12rem;
    height: 10.45rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;
}

.large-card {
    border-radius: 0.5rem;
    min-width: 24rem;
}

.card {
    box-shadow: 0px 0.7px 0.7px 0px #0000000A;
    box-shadow: 0px 2.8px 7px 0px #0000000A;
    background-color: #FFFFFF;
    color: #1D2129;
    padding: 20px;
    transition: scale 0.7s ease-in-out, box-shadow 0.7s ease-in-out;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.name {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
}

.designation {
    padding-left: 0.5rem;
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #96979A;
}

.name_designation {
    display: flex;
    align-items: center;
}

.review {
    margin-top: 1rem;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0px;
}

.testimonial_card {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    cursor: grab;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.testimonial_card::-webkit-scrollbar {
    display: none;
}

.card_header {
    display: flex;
    justify-content: space-between;

}

.saveText {
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: right;
    vertical-align: middle;

}

.card .email_input {
    padding: 10px;
    height: 30px;
}

select {
    padding: 3px 10px;
    border-radius: 4px;
    border: 1px solid #E5E5E680;
    background-color: #E5E5E680;
}

.card_body_text {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
}

.email_sec_text {
    font-size: 14px;
}