.small-card {
    width: 12rem;
    height: 10.45rem;
    border-radius: 0.5rem;
}

.large-card{
     border-radius: 0.5rem;
     width: 22rem;
     height: 8.5rem;
}
.card {
    box-shadow: 0px 0.7px 0.7px 0px #0000000A;
    box-shadow: 0px 2.8px 7px 0px #0000000A;
    background-color: #FFFFFF;
    border-radius: 0.75rem;
}