.carousel {
    width: 320px;
    overflow: hidden;
    position: relative;
    -webkit-mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 85%,
            rgba(0, 0, 0, 0) 100%);

    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 85%,
            rgba(0, 0, 0, 0) 100%);
}

.carousel-track {
    display: flex;
}

.carousel-item {
    padding-left: 20px;
    flex-shrink: 0;
    transform: rotateY(10deg);
    transition: transform 0.3s;
}