.screen{
    display: flex;
    min-height: 100vh;
}

.main{
    flex: 1;
    min-width: 0px;
  background: radial-gradient(
    ellipse at 0% 100%,
    rgba(31, 169, 17, 0.81) 30.21%,
    #422ad7 53.58%,
    rgb(0, 0, 0) 80%
  );

  background-repeat: no-repeat;
}

.aside{
   width: 640px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}